@import url(../css/home.css);

.button {
  width: 60px;
  height: 30px;
  border: none;
  outline: none;
  color: var(--colorBgModal);
  border-radius: 1px;
  cursor: pointer;
  font-size: 0.7rem;
  text-transform: uppercase;
}

.actions-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  padding: 0.2rem;
}

.delete-button {
  background-color: var(--colorBtnDelete);
}

.delete-button:hover {
  background-color: var(--colorBtnDeleteHover);
}

.edit-button,
.register-btn-md {
  background-color: var(--colorBtnedit);
}

.edit-button:hover,
.register-btn-md:hover {
  background-color: var(--colorBtnEditHover);
}

.cancel-btn-md {
  background-color: var(--colorCancelBtnModal);
}
.cancel-btn-md:hover {
  background-color: var(--colorCancelBtnModalHover);
}

.btns-table {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 10px;
}

#new-register {
  width: 130px;
  background-color: var(--colorBtnedit);
}

#new-register:hover {
  width: 130px;
  background-color: var(--colorBtnEditHover);
}

#clear-registers {
  width: 130px;
  background-color: var(--colorBtnDelete);
}

#clear-registers:hover {
  width: 130px;
  background-color: var(--colorBtnDeleteHover);
}

.register-btn-md {
  margin-left: 0.5rem;
}
